<!DOCTYPE html>
<html>
  <head>
    <title>Atencja | O nas</title>
  </head>
  <body>
    <h1>Atencja</h1>
    <p>
      Strona o projekcie <a href="http://atencja.herokuapp.com/">Atencja</a> Atencja to platforma mikroblogowa, bêd¹ca projektem zaliczeniowym na Zaawansowane Techniki Internetowe. Portal dostarcza u¿ytkownikowi mo¿liwoœæ rejestracji swojego konta, zarz¹dzania nim oraz prowadzenie w³asnego mikrobloga.
    </p>
  </body>
</html>

