<!DOCTYPE html>
<html>
  <head>
    <title>Atencja | Help</title>
  </head>
  <body>
    <h1>Atencja</h1>
    <p>
      Strona pomocy projektu <a href="http://atencja.herokuapp.com/">Atencja</a>.
    </p>
  </body>
</html>

