<!DOCTYPE html>
<html>
  <head>
    <title>Atencja | Home</title>
  </head>
  <body>

	<div class="center hero-unit">
  		<h1>Witaj w serwisie Atencja</h1>

  		<h2> Strona domowa projektu <a href="http://atencja.herokuapp.com/">Atencja</a>.  </h2>

  		<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	</div>

  </body>
</html>
